/* body {
overall fonts we want to invoke on page
} */
nav{
    font-family:'Russo One', sans-serif;  
}
.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.card-title-text{
    font-family:'Russo One', sans-serif;
    word-spacing: 1.5rem;
}
.resultsContainer{
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}
.results {
   text-align: center; 
}
.resultsVideo {
    margin: 1rem;    
}